* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://images.unsplash.com/photo-1620424722820-c86c2672d7f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-shadow:0px 0px 5px #000000;
}

.top-wrapper p {
  opacity: 1;
  margin-bottom: 3px;
  text-shadow:0px 0px 5px #000000;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
  color:#f5f6fa;
}
.logo-footer {
  width: 124px;
  margin-top: 20px;
  color:#f5f6fa;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  
  display:none;
}


.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}
.lessons{
  padding-top: 50px;
  padding-bottom: 80px;
  color: #5f5d60;
}

.heading {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}
.img1{
  width: 50px;
  height: 50px;
}
.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}
.log{
  width: 100px;
  height: 50px;
  padding: 0px 10px;
  background-color: blueviolet;
  cursor: pointer;
}

.message {
  padding: 15px 40px;
  background-color: #9e26e4;
  cursor: pointer;
  margin-top: 20px;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* bagian Abaout*/
.ab{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5f5d60;
  text-align: center;
  padding-bottom: 30px;
}
.text{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5f5d60;
}
.ab h2{
  padding: 0px;
}
.kiri{
  display: flex;
  float: left;
}
.kanan{
  float: right;
  display: flex;
  padding-bottom: 50px;
}
.img3{
  width: 600px;
  height: 400px;
}
.ab h2{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
}
.text h2{
  font-size: 35px;
}
.text p{
  font-size: 25px;
}
/*akhir Bagian About*/

/* bagian awal gambar*/

.heading h2{
  text-align: center;
}
.heading p{
  text-align: center;
}

.item-g{
  float: left;
  width: 25%;
}
.img2{
  width: 200px;
  height: 200px;
}

.porto{
  position: relative;
}
.porto img{
  width: 100%;
}
.item-g .porto{
  margin: 0 10px 10px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border:1px solid #E8EAEE;
  box-shadow:black;
}

/* bagian akhir gambar*/

/* bagian awal contact*/
.text1{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5f5d60;
}
.con{
  padding-top: 10px;
}
input[type="text"] {
  width: 100%;
  height: 50px;
}
textarea {
  width: 100%;
}
.tombol{
  padding-top: 10px;
  padding-bottom: 30px;
}
/*akhir contact*/

/* bagian footer*/
.logo-footer img {
  width: 300px;
}

.tagline p {

  color: #b3aeb5;
  font-size: 15px;
  padding-left: 30px;
}
.footer-lits{
  float: right;
  color: #E8EAEE;
}
.footer-lits li{
  list-style: none;
  padding-top: 10px;
}
.copyright{
  padding-top: 200px;
  text-align: center;
  color: #E8EAEE;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(34, 49, 52, 0.9);
}
